@charset "UTF-8";

body{
    margin: 0%;
    padding: 0%;
}
header{
    width: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    padding-bottom: 20px;
}
header>h1{
    display: block;
    font: italic bolder 3em "Work Sans", "Sans Sarif";
    padding-top: 40px;
    margin: auto;
    text-align: center;
    color: aliceblue;
}

header > p{
    text-align: center;
    text-align: justify;
    max-width: 500px;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
main{
    
width: auto;

}
main>p{
    padding: 10px;
    max-width: 200px;
    font: bolder 1.5em "Work Sans", " Sans Sarif";
    text-align: justify;
}

div.q1{

    background-image: url('img/wallpaper005.jpg');
    background-size: 100% 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
div{
    border: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
    div>p{

    max-width: 200px;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    font: bolder 1.5em "Work Sans", " Sans Sarif";
    
    }

    article>p{
    padding: 10px;
    max-width: 200px;
    font: bolder 1.5em "Work Sans", " Sans Sarif";
          
     }
     article{
    
    width: auto;

    }
    #aa{

background-image: url('img/wallpaper005.jpg');
background-size: 100% 100%;
background-position: cover;
background-repeat: no-repeat;
background-attachment: fixed;

}
#aa>p{

max-width: 200px;
background-color: rgba(0, 0, 0, 0.61);
color: white;
font: bolder 1.5em "Work Sans", " Sans Sarif";

}
aside{
width: auto;
}

aside>p{
padding: 10px;
    max-width: 200px;
    font: bolder 1.5em "Work Sans", " Sans Sarif";

}
footer{
background-color: black;
padding: 6px;
}

footer > p{
color: aliceblue;
text-align: justify;
text-align: center;

}

p> a{
     display: inline;
    color: #eae3ef;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1,5em;
}

 a :hover{
    background-color: white
}
